//! **************************************************************************
// Written by: Map P.28xd on Wed Aug 15 18:49:09 2012
//! **************************************************************************

SCHEMATIC START;
COMP "SPI_SCK" LOCATE = SITE "P50" LEVEL 1;
COMP "CLK" LOCATE = SITE "P89" LEVEL 1;
COMP "RXD" LOCATE = SITE "P49" LEVEL 1;
COMP "TXD" LOCATE = SITE "P48" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P44" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P27" LEVEL 1;
COMP "PIN<1>" LOCATE = SITE "P26" LEVEL 1;
COMP "PIN<2>" LOCATE = SITE "P15" LEVEL 1;
COMP "PIN<3>" LOCATE = SITE "P16" LEVEL 1;
COMP "PIN<4>" LOCATE = SITE "P95" LEVEL 1;
COMP "PIN<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "PIN<6>" LOCATE = SITE "P17" LEVEL 1;
COMP "PIN<7>" LOCATE = SITE "P94" LEVEL 1;
COMP "PIN<8>" LOCATE = SITE "P22" LEVEL 1;
COMP "PIN<9>" LOCATE = SITE "P23" LEVEL 1;
COMP "SPI_CS" LOCATE = SITE "P24" LEVEL 1;
COMP "PIN<10>" LOCATE = SITE "P33" LEVEL 1;
COMP "PIN<11>" LOCATE = SITE "P32" LEVEL 1;
COMP "PIN<20>" LOCATE = SITE "P58" LEVEL 1;
COMP "PIN<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "PIN<21>" LOCATE = SITE "P60" LEVEL 1;
COMP "PIN<13>" LOCATE = SITE "P40" LEVEL 1;
COMP "PIN<30>" LOCATE = SITE "P71" LEVEL 1;
COMP "PIN<22>" LOCATE = SITE "P61" LEVEL 1;
COMP "PIN<14>" LOCATE = SITE "P41" LEVEL 1;
COMP "PIN<31>" LOCATE = SITE "P86" LEVEL 1;
COMP "PIN<23>" LOCATE = SITE "P62" LEVEL 1;
COMP "PIN<15>" LOCATE = SITE "P36" LEVEL 1;
COMP "PIN<40>" LOCATE = SITE "P2" LEVEL 1;
COMP "PIN<32>" LOCATE = SITE "P84" LEVEL 1;
COMP "PIN<24>" LOCATE = SITE "P63" LEVEL 1;
COMP "PIN<16>" LOCATE = SITE "P35" LEVEL 1;
COMP "PIN<41>" LOCATE = SITE "P4" LEVEL 1;
COMP "PIN<33>" LOCATE = SITE "P83" LEVEL 1;
COMP "PIN<25>" LOCATE = SITE "P65" LEVEL 1;
COMP "PIN<17>" LOCATE = SITE "P53" LEVEL 1;
COMP "PIN<42>" LOCATE = SITE "P5" LEVEL 1;
COMP "PIN<34>" LOCATE = SITE "P78" LEVEL 1;
COMP "PIN<26>" LOCATE = SITE "P66" LEVEL 1;
COMP "PIN<18>" LOCATE = SITE "P54" LEVEL 1;
COMP "PIN<43>" LOCATE = SITE "P90" LEVEL 1;
COMP "PIN<35>" LOCATE = SITE "P79" LEVEL 1;
COMP "PIN<27>" LOCATE = SITE "P67" LEVEL 1;
COMP "PIN<19>" LOCATE = SITE "P57" LEVEL 1;
COMP "PIN<44>" LOCATE = SITE "P9" LEVEL 1;
COMP "PIN<36>" LOCATE = SITE "P85" LEVEL 1;
COMP "PIN<28>" LOCATE = SITE "P68" LEVEL 1;
COMP "PIN<45>" LOCATE = SITE "P10" LEVEL 1;
COMP "PIN<37>" LOCATE = SITE "P92" LEVEL 1;
COMP "PIN<29>" LOCATE = SITE "P70" LEVEL 1;
COMP "PIN<46>" LOCATE = SITE "P11" LEVEL 1;
COMP "PIN<38>" LOCATE = SITE "P98" LEVEL 1;
COMP "PIN<47>" LOCATE = SITE "P12" LEVEL 1;
COMP "PIN<39>" LOCATE = SITE "P3" LEVEL 1;
COMP "PIN<48>" LOCATE = SITE "P91" LEVEL 1;
NET "clkgen_inst/clkin_i" PERIOD = 20.34505 ns HIGH 50%;
SCHEMATIC END;

