//! **************************************************************************
// Written by: Map P.28xd on Thu Aug 30 16:55:57 2012
//! **************************************************************************

SCHEMATIC START;
COMP "Seg7_AN<0>" LOCATE = SITE "P67" LEVEL 1;
COMP "Seg7_AN<1>" LOCATE = SITE "P60" LEVEL 1;
COMP "Seg7_AN<2>" LOCATE = SITE "P26" LEVEL 1;
COMP "Seg7_AN<3>" LOCATE = SITE "P18" LEVEL 1;
COMP "JOY_RIGHT" LOCATE = SITE "P36" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "P50" LEVEL 1;
COMP "JOY_SELECT" LOCATE = SITE "P22" LEVEL 1;
COMP "ADC_SPI_CS" LOCATE = SITE "P70" LEVEL 1;
COMP "CLK" LOCATE = SITE "P89" LEVEL 1;
COMP "RXD" LOCATE = SITE "P88" LEVEL 1;
COMP "TXD" LOCATE = SITE "P90" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P44" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P27" LEVEL 1;
COMP "Seg7_DP" LOCATE = SITE "P23" LEVEL 1;
COMP "SWITCH<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "SWITCH<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "SWITCH<2>" LOCATE = SITE "P94" LEVEL 1;
COMP "SWITCH<3>" LOCATE = SITE "P95" LEVEL 1;
COMP "SWITCH<4>" LOCATE = SITE "P98" LEVEL 1;
COMP "SWITCH<5>" LOCATE = SITE "P2" LEVEL 1;
COMP "SWITCH<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "SWITCH<7>" LOCATE = SITE "P4" LEVEL 1;
COMP "ADC_SPI_MISO" LOCATE = SITE "P79" LEVEL 1;
COMP "ADC_SPI_SCLK" LOCATE = SITE "P86" LEVEL 1;
COMP "ADC_SPI_MOSI" LOCATE = SITE "P84" LEVEL 1;
COMP "AUDIO" LOCATE = SITE "P41" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P83" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P85" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P10" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P17" LEVEL 1;
COMP "RED<0>" LOCATE = SITE "P61" LEVEL 1;
COMP "RED<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "RED<2>" LOCATE = SITE "P54" LEVEL 1;
COMP "JOY_UP" LOCATE = SITE "P25" LEVEL 1;
COMP "SPI_CS" LOCATE = SITE "P24" LEVEL 1;
COMP "Seg7_A" LOCATE = SITE "P57" LEVEL 1;
COMP "Seg7_B" LOCATE = SITE "P65" LEVEL 1;
COMP "Seg7_C" LOCATE = SITE "P40" LEVEL 1;
COMP "Seg7_D" LOCATE = SITE "P53" LEVEL 1;
COMP "Seg7_E" LOCATE = SITE "P33" LEVEL 1;
COMP "Seg7_F" LOCATE = SITE "P35" LEVEL 1;
COMP "Seg7_G" LOCATE = SITE "P62" LEVEL 1;
COMP "GREEN<0>" LOCATE = SITE "P68" LEVEL 1;
COMP "GREEN<1>" LOCATE = SITE "P66" LEVEL 1;
COMP "GREEN<2>" LOCATE = SITE "P63" LEVEL 1;
COMP "BLUE<0>" LOCATE = SITE "P78" LEVEL 1;
COMP "BLUE<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "JOY_LEFT" LOCATE = SITE "P34" LEVEL 1;
COMP "JOY_DOWN" LOCATE = SITE "P32" LEVEL 1;
NET "clkgen_inst/clkin_i" BEL "clkgen_inst/vgainst.GCLKMUX" USELOCALCONNECT;
NET "clkgen_inst/clkin_i" PERIOD = 31.25 ns HIGH 50%;
SCHEMATIC END;

